<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title> Shop管理中心－类型管理</title>
	<link href="application/views/admin/styles/general.css" rel="stylesheet" type="text/css" />
	<link href="application/views/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<h1>
<span class="action-span"><a href="index.php?p=admin&c=type&a=add">新建商品类型</a></span>
<span class="action-span1"><a href="">shop管理中心</a></span><span class="action-span1"><a href="">－商品类型</a></span>
</h1>
<body>
	<form>
		<div class="list-div" id ="listDiv">
		<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
	    <tbody>
	      <tr>
	        <th>商品类型名称</th>
	        <th>属性数</th>
	        <th>状态</th>
	        <th>操作</th>
	       
	      </tr>

	      <tr>
	        <td align="left" class="first-cell"> fuzhuang</td>
	        <td width="10%">0</td>
	        <td width="10%">yes</td>
	        <td width="24%" align="center">
	          <a href="">转移商品</a>
	          <a href="index.php?p=admin&c=type&a=edit&cat_id=0">编辑</a>
	          <a href="">移除</a>
	        </td>
	      </tr>

	      <!-- <tr></tr> -->

	    </tbody>
  </table>
		</div>
	</form>

</body>
</html>